body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/* --------------------------RESET-------------------------- */

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}

/* --------------------------COMMON-------------------------- */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    padding: 120px 0;
}

/* --------------------------HEADER-------------------------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display:flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

/* --------------------------HERO-------------------------- */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-title {
    max-width: 496px;
    margin-bottom:48px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.08;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404bbf;
}

/* --------------------------FEATURES-------------------------- */

.features {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* --------------------------TEAM-------------------------- */

.team {
    background-color: #f4f4fd;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-info{
    padding: 32px 16px;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* --------------------------PORTFOLIO-------------------------- */

.portfolio {}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
}

.portfolio-img {}

.portfolio-info {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* --------------------------FOOTER-------------------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    padding: 1.5px 0;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}